<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
>
    <testsuites>
        <testsuite name="bitbucket-webhooks">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">
                ./src/
            </directory>
        </whitelist>
    </filter>
</phpunit>
